@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  width: 100%;
  height: 100%;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  text-decoration: underline dotted;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
button,
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.pointer-events-none {
  pointer-events: none;
}

@keyframes ping {
  75%,
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.overflow-hidden {
  overflow: hidden;
}
.border-cyber-blue {
  --tw-border-opacity: 1;
  border-color: rgb(0 240 255 / var(--tw-border-opacity, 1));
}
.border-cyber-blue\/30 {
  border-color: #00f0ff4d;
}
.border-cyber-pink {
  --tw-border-opacity: 1;
  border-color: rgb(255 0 110 / var(--tw-border-opacity, 1));
}
.border-cyber-purple {
  --tw-border-opacity: 1;
  border-color: rgb(188 19 254 / var(--tw-border-opacity, 1));
}

.bg-cyber-blue\/30 {
  border-color: #00f0ff4d;
}
.bg-cyber-pink {
  --tw-border-opacity: 1;
  background-color: rgb(255 0 110 / var(--tw-border-opacity, 1));
}
.bg-cyber-purple {
  --tw-border-opacity: 1;
  border-color: rgb(188 19 254 / var(--tw-border-opacity, 1));
}
.border-white\/5 {
  border-color: #ffffff0d;
}
.bg-cyber-black {
  --tw-bg-opacity: 1;
  background-color: rgb(5 5 5 / var(--tw-bg-opacity, 1));
}
.bg-cyber-black\/50 {
  background-color: #05050580;
}
.bg-cyber-black\/80 {
  background-color: #050505cc;
}
.bg-cyber-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(0 240 255 / var(--tw-bg-opacity, 1));
}
.bg-cyber-blue\/10 {
  background-color: #00f0ff1a;
}
.bg-cyber-gray\/20 {
  background-color: #1a1a2e33;
}
.bg-cyber-gray\/40 {
  background-color: #1a1a2e66;
}
.bg-cyber-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(188 19 254 / var(--tw-bg-opacity, 1));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-white\/5 {
  background-color: #ffffff0d;
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
.from-cyber-black {
  --tw-gradient-from: #050505 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(5 5 5 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-cyber-blue {
  --tw-gradient-from: #00f0ff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 240 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-cyber-pink {
  --tw-gradient-from: #ff006e var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 0 110 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-cyber-pink\/50 {
  --tw-gradient-from: rgb(255 0 110 / 0.5) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 0 110 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-cyber-purple\/20 {
  --tw-gradient-from: rgb(188 19 254 / 0.2) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(188 19 254 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-white\/5 {
  --tw-gradient-from: rgb(255 255 255 / 0.05) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.via-cyber-dark {
  --tw-gradient-to: rgb(10 10 15 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #0a0a0f var(--tw-gradient-via-position),
    var(--tw-gradient-to);
}
.via-cyber-purple {
  --tw-gradient-to: rgb(188 19 254 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #bc13fe var(--tw-gradient-via-position),
    var(--tw-gradient-to);
}
.via-transparent {
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), transparent var(--tw-gradient-via-position),
    var(--tw-gradient-to);
}
.via-white {
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #fff var(--tw-gradient-via-position),
    var(--tw-gradient-to);
}
.to-cyber-black {
  --tw-gradient-to: #050505 var(--tw-gradient-to-position);
}
.to-cyber-pink {
  --tw-gradient-to: #ff006e var(--tw-gradient-to-position);
}
.to-cyber-purple {
  --tw-gradient-to: #bc13fe var(--tw-gradient-to-position);
}
.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.leading-relaxed {
  line-height: 1.625;
}
.tracking-tight {
  letter-spacing: -0.025em;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.text-cyber-black {
  --tw-text-opacity: 1;
  color: rgb(5 5 5 / var(--tw-text-opacity, 1));
}
.text-cyber-blue {
  --tw-text-opacity: 1;
  color: rgb(0 240 255 / var(--tw-text-opacity, 1));
}
.text-cyber-pink {
  --tw-text-opacity: 1;
  color: rgb(255 0 110 / var(--tw-text-opacity, 1));
}
.text-cyber-purple {
  --tw-text-opacity: 1;
  color: rgb(188 19 254 / var(--tw-text-opacity, 1));
}
.font-mono {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}
:root {
  --cyber-blue: #00f0ff;
  --cyber-pink: #ff006e;
  --cyber-purple: #bc13fe;
}
body {
  background-color: #050505;
  color: #fff;
  font-family: Rajdhani, sans-serif;
  overflow-x: hidden;
}
.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #fff0, #fff0 50%, #0003 50%, #0003);
  background-size: 100% 4px;
  pointer-events: none;
  z-index: 50;
  opacity: 0.3;
}
.glitch-text {
  position: relative;
}
.glitch-text:before,
.glitch-text:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch-text:before {
  left: 2px;
  text-shadow: -1px 0 #ff006e;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch-text:after {
  left: -2px;
  text-shadow: -1px 0 #00f0ff;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(14px, 9999px, 127px, 0);
  }
  20% {
    clip: rect(84px, 9999px, 12px, 0);
  }
  40% {
    clip: rect(14px, 9999px, 127px, 0);
  }
  60% {
    clip: rect(44px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(84px, 9999px, 12px, 0);
  }
  to {
    clip: rect(14px, 9999px, 127px, 0);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(84px, 9999px, 12px, 0);
  }
  20% {
    clip: rect(14px, 9999px, 127px, 0);
  }
  40% {
    clip: rect(84px, 9999px, 12px, 0);
  }
  60% {
    clip: rect(14px, 9999px, 127px, 0);
  }
  80% {
    clip: rect(44px, 9999px, 56px, 0);
  }
  to {
    clip: rect(84px, 9999px, 12px, 0);
  }
}
.selection\:bg-cyber-pink *::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 110 / var(--tw-bg-opacity, 1));
}
.selection\:text-white *::selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.selection\:bg-cyber-pink::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 110 / var(--tw-bg-opacity, 1));
}
.selection\:text-white::selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-cyber-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 240 255 / var(--tw-bg-opacity, 1));
}
.hover\:bg-cyber-gray\/40:hover {
  background-color: #1a1a2e66;
}
.hover\:bg-cyber-purple\/10:hover {
  background-color: #bc13fe1a;
}
.hover\:text-cyber-black:hover {
  --tw-text-opacity: 1;
  color: rgb(5 5 5 / var(--tw-text-opacity, 1));
}
.hover\:text-cyber-blue:hover {
  --tw-text-opacity: 1;
  color: rgb(0 240 255 / var(--tw-text-opacity, 1));
}
.hover\:text-cyber-pink:hover {
  --tw-text-opacity: 1;
  color: rgb(255 0 110 / var(--tw-text-opacity, 1));
}
.hover\:text-cyber-purple:hover {
  --tw-text-opacity: 1;
  color: rgb(188 19 254 / var(--tw-text-opacity, 1));
}
.group:hover .group-hover\:translate-x-1 {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.bg-obsidian-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity, 1));
}
.bg-obsidian-900\/50 {
  background-color: #0a0a0a9a;
}
.bg-obsidian-950\/90 {
  background-color: #050505e6;
}
.bg-transparent {
  background-color: transparent;
}
.bg-gold-gradient {
  background-image: linear-gradient(135deg, #d4af37, #f0deaa, #d4af37);
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.bg-gradient-to-l {
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}
.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.from-burgundy-900\/40 {
  --tw-gradient-from: rgb(45 0 11 / 0.4) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(45 0 11 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-obsidian-900 {
  --tw-gradient-from: #0a0a0a var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(10 10 10 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-white {
  --tw-gradient-from: #fff var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.via-gold-400 {
  --tw-gradient-to: rgb(212 175 55 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #d4af37 var(--tw-gradient-via-position),
    var(--tw-gradient-to);
}
.via-obsidian-900 {
  --tw-gradient-to: rgb(10 10 10 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from), #0a0a0a var(--tw-gradient-via-position),
    var(--tw-gradient-to);
}
.via-obsidian-900\/60 {
  --tw-gradient-to: rgb(10 10 10 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops:
    var(--tw-gradient-from),
    rgb(10 10 10 / 0.6) var(--tw-gradient-via-position), var(--tw-gradient-to);
}
.to-gray-400 {
  --tw-gradient-to: #9ca3af var(--tw-gradient-to-position);
}
.to-obsidian-900 {
  --tw-gradient-to: #0a0a0a var(--tw-gradient-to-position);
}
.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.text-center {
  text-align: center;
}
.font-serif {
  font-family:
    Playfair Display,
    serif;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
.text-gold-400 {
  --tw-text-opacity: 1;
  color: #00f0ff;
}
.text-gold-400\/50 {
  color: #00f0ff;
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: #00f0ff;
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.text-obsidian-900 {
  --tw-text-opacity: 1;
  color: rgb(10 10 10 / var(--tw-text-opacity, 1));
}
.text-transparent {
  color: transparent;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.mix-blend-overlay {
  mix-blend-mode: overlay;
}
.mix-blend-difference {
  mix-blend-mode: difference;
}
.blur-\[100px\] {
  --tw-blur: blur(100px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.blur-\[1px\] {
  --tw-blur: blur(1px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity, 1));
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(10 10 10 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26 / var(--tw-bg-opacity, 1));
}
::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(163 132 31 / var(--tw-bg-opacity, 1));
}
.selection\:bg-gold-400 *::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(212 175 55 / var(--tw-bg-opacity, 1));
}
.selection\:text-obsidian-900 *::selection {
  --tw-text-opacity: 1;
  color: rgb(10 10 10 / var(--tw-text-opacity, 1));
}
.selection\:bg-gold-400::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(212 175 55 / var(--tw-bg-opacity, 1));
}
.selection\:text-obsidian-900::selection {
  --tw-text-opacity: 1;
  color: rgb(10 10 10 / var(--tw-text-opacity, 1));
}
.hover\:border-gold-400\/30:hover {
  border-color: #00f0ff;
}
.hover\:border-gold-400\/50:hover {
  border-color: #00f0ff;
}
.hover\:bg-gold-300:hover {
  --tw-bg-opacity: 1;
  background-color: #00f0ff;
}
.hover\:bg-gold-400\/10:hover {
  background-color: #00f0ff;
}
.hover\:bg-gold-400\/5:hover {
  background-color: #00f0ff;
}
.hover\:text-gold-300:hover {
  --tw-text-opacity: 1;
  color: #00f0ff;
}
.hover\:text-gold-400:hover {
  --tw-text-opacity: 1;
  color: #00f0ff;
}
.hover\:opacity-100:hover {
  opacity: 1;
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow:
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-gold-400:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(212 175 55 / var(--tw-ring-opacity, 1));
}
.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}
.focus\:ring-offset-obsidian-900:focus {
  --tw-ring-offset-color: #0a0a0a;
}
.group:hover .group-hover\:h-auto {
  height: auto;
}
.group:hover .group-hover\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:border-gold-400\/50 {
  border-color: #00f0ff;
}
.group:hover .group-hover\:bg-gold-400\/10 {
  background-color: #d4af371a;
}
.group:hover .group-hover\:text-gold-400 {
  --tw-text-opacity: 1;
  color: #00f0ff;
}
.group:hover .group-hover\:text-gold-400\/80 {
  color: #00f0ff;
}
.bg-gold-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(212 175 55 / var(--tw-bg-opacity, 1));
}
